@page "/customers"

@inject HttpClient Http
@inject IMatDialogService MatDialogService


<style>
    .mdc-paginator-page-size {
        visibility: hidden
    }
</style>


<MatBlazor.MatH3 Class="d-inline-block">Customers</MatBlazor.MatH3>


@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <MatTooltip TargetId="fabAdd" Tooltip="Add Customer" Position="@MatTooltipPosition.Left">
        <MatFAB Id="fabAdd" Class="float-md-right" Icon="@MatIconNames.Add" OnClick="@OpenDialog" Style="background-color: #5d2f91"></MatFAB>
    </MatTooltip>

    <MatTable Items="@sortedCustomers" class="mat-elevation-z5" PageSize="10" ShowPaging="true" UseSortHeaderRow="true" AllowSelection="true" OnRowDbClick="RowDblClickEvent">
        <MatTableHeader>
            <MatSortHeaderRow SortChanged="@SortData">
                <MatSortHeader SortId="id">#</MatSortHeader>
                <MatSortHeader SortId="name"><span style="width:200px">Name</span></MatSortHeader>
                <MatSortHeader SortId="phoneNumber">Phone number</MatSortHeader>
                <MatSortHeader SortId="bonusCardNumber"><span style="width:250px">Bonus Card Number</span></MatSortHeader>
                <MatSortHeader SortId="bonuses">Bonuses</MatSortHeader>
            </MatSortHeaderRow>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.Name</td>
            <td>@context.PhoneNumber</td>
            <td>@context.BonusCardNumber</td>
            <td>@context.Bonuses</td>
        </MatTableRow>
    </MatTable>
}
@code
{

    Customer newCustomer = new Customer();
    MatSortChangedEvent lastSort = null;


    async Task OpenDialog()
    {

        var result = await MatDialogService.OpenAsync(typeof(CreateCustomerModal), new MatDialogOptions()
        {
            SurfaceStyle = "min-width: 600px; max-width: 700px;"
        });
        if (result == null)
        {
            return;
        }
        newCustomer = (Customer)result;

        customers.Add(newCustomer);
        SortData(lastSort);


        newCustomer = new Customer();
        this.StateHasChanged();
    }

    List<Customer> customers;
    Customer[] sortedCustomers = null;
    Customer selectedCustomer = null;

    protected override async Task OnInitializedAsync()
    {
        customers = await Http.GetFromJsonAsync<List<Customer>>("https://localhost:5001/customers");

        base.OnInitialized();
        SortData(null);
    }

    public async Task RowDblClickEvent(object row)
    {
        if (row == null)
        {
            selectedCustomer = null;
            return;
        }

        selectedCustomer = (Customer)row;
        var result = await MatDialogService.OpenAsync(typeof(UpdateCustomerModal), new MatDialogOptions()
        {
            Attributes = new Dictionary<string, object>()
{
                {"UpdateCustomer", selectedCustomer},
            },
            SurfaceStyle = "min-width: 600px; max-width: 700px;"
        });
        if (result == null)
        {
            return;
        }
        selectedCustomer = (Customer)result;

        if (selectedCustomer.Id == -1)
        {
            customers.Remove(selectedCustomer);
        }

        else
        {
            row = selectedCustomer;
        }
        SortData(lastSort);



        this.StateHasChanged();

    }

    void SortData(MatSortChangedEvent sort)
    {
        lastSort = sort;
        sortedCustomers = customers.ToArray();
        if (!(sort == null || sort.Direction == MatSortDirection.None || string.IsNullOrEmpty(sort.SortId)))
        {
            Comparison<Customer> comparison = null;
            switch (sort.SortId)
            {
                case "id":
                    comparison = (s1, s2) => s1.Id.CompareTo(s2.Id);
                    break;
                case "name":
                    comparison = (s1, s2) => string.Compare(s1.Name, s2.Name, StringComparison.InvariantCultureIgnoreCase);
                    break;
                case "phoneNumber":
                    comparison = (s1, s2) => string.Compare(s1.PhoneNumber, s2.PhoneNumber, StringComparison.InvariantCultureIgnoreCase);
                    break;
                case "bonusCodeNumber":
                    comparison = (s1, s2) => string.Compare(s1.BonusCardNumber, s2.BonusCardNumber, StringComparison.InvariantCultureIgnoreCase);
                    break;
                case "bonuses":
                    comparison = (s1, s2) => s1.Bonuses.CompareTo(s2.Bonuses);
                    break;
            }
            if (comparison != null)
            {
                if (sort.Direction == MatSortDirection.Desc)
                {
                    Array.Sort(sortedCustomers, (s1, s2) => -1 * comparison(s1, s2));
                }
                else
                {
                    Array.Sort(sortedCustomers, comparison);
                }
            }
        }
    }


}